* {
  background-color: beige;
  text-align: center;

}

ul {
    text-decoration: underline;
    list-style:square;
    list-style-position: inside;
}

ol {
    text-decoration: underline;
    list-style-position: inside;
}
p {
  font-style: italic;
}

h1 {
  color: maroon;
}

 { 
    color: red;
}